.cart-list {
    list-style-type: none;
}
.total {
    font-size: 2rem;
    font-weight: 700;
}
.checkout {
    align-items: center;
    display: flex;
    margin-top: 1rem;
}
.order {
    background-color: rgb(255, 168, 97);
    border-radius: 20rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: auto;
    padding: 0.5rem 0.7rem;
}
.disable {
    cursor: not-allowed;
    opacity: 0.5;
}
