.container {
    color: #fff;
    width: 60%;
    margin: 0 auto;
}

.title {
    font-size: 4rem;

    padding: 2rem;
}

.paragraph {
    width: 50%;
    font-size: 1.3rem;
    border: 0.1rem solid #fff;
    padding: 1rem;
    margin: 0 auto;
}
