.navbar {
    height: 4rem;
    background-color: rgb(165, 67, 37);
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.555);
    padding: 0 8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-title {
    color: #fff;
    font-size: 2rem;
    text-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.container-welcome {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../img/foodwallpaper.jpg);
    background-size: cover;
    text-align: center;
    padding-bottom: 3rem;
}

.menu {
    height: 100vh;
    background-color: #1a1a1a;
}
