.container {
    color: #fff;
    margin: 0 auto;
    width: 60%;
}
.title {
    font-size: 4rem;
    padding: 2rem;
}
.paragraph {
    border: 0.1rem solid #fff;
    font-size: 1.3rem;
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
}
